@font-face {
  font-family: 'ain';
  src: url('/fonts/autumn-in-november.ttf');
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-family: ain;
  height: 100%;
}

.title {
  color: #e38f9e;
  font-size: 3rem;
}

* {
  box-sizing: border-box;
}

#__next {
  display: contents;
}

.caption {
  position: absolute;
  left: 0;
  bottom: 10%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption a {
  color: #b2713a8a
}

.container {
  background-image: url(/images/stinty.jpg);
  height: 100%;
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}