@font-face {
  font-family: 'ain';
  src: url('/fonts/autumn-in-november.ttf');
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-family: ain;
}

.title {
  color: #e38f9e;
  font-size: 3rem;
}

.header.header--date {
  color: #e38f9e;
}

.desc.desc--text {
  font-size: 2rem;
}

.desc.desc--link {
  font-size: 2rem;

}

.desc.desc--link a {
  display: flex;
  align-items: center;
  gap: 20px;
  color: #afb6bb;
  flex-wrap: wrap;
  justify-content: center;
}

* {
  box-sizing: border-box;
}

main {
  padding: 5rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}


.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}