@font-face {
  font-family: 'ain';
  src: url('/fonts/autumn-in-november.ttf');
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-family: ain;
  font-family: Baskerville;
  height: 100%;
  color: #532f08e0;
}



* {
  box-sizing: border-box;
}

#__next {
  display: contents;
}

.title {
  margin: 20px 0px;
}

.title span {
  display: block;
}

.title .title__names {
  font-size: 2rem;
}

.main {}

.caption {
  position: absolute;
  left: 0;
  top: 15%;
  width: 100%;
  text-align: center;
  padding: 20px;
  line-height: 30px;

  gap: 70px;
  display: flex;
  flex-direction: column;
}

.footer a {
  color: #b2713a8a
}

.container {
  background-image: url(/images/stinty.jpg);
  height: 100%;
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}